In [ ]:
# Task one 
import pandas as pd 
# loading csv 
students_df = pd.read_csv('student_performance.csv')
# converting csv into DataFrame
student_data = pd.DataFrame(students_df) 
print(student_data)
# getting top 5 elements 
print(student_data.head(5))
# checking datatypes 
print(student_data.info())
# counting  missing values per column 
print(student_data.isna().sum())

In [37]:
# task two 
# finging  empty cells in columns
mean_math = student_data['math'].mean()
mean_english = student_data['english'].mean()
mean_science = student_data['science'].mean()
# filling emty cells with the mean values
student_data['math'] = student_data['math'].fillna(mean_math)
student_data['english'] = student_data['english'].fillna(mean_english)
student_data['science'] = student_data['science'].fillna(mean_science)
print(student_data)
# checking for empty cells 
print(student_data.isna())

   student_id  math    science  english  attendance
0        S001  78.0  82.000000     75.0          92
1        S002  85.0  88.000000     90.0          96
2        S003  62.0  70.000000     65.0          80
3        S004  90.0  92.000000     94.0          98
4        S005  55.0  60.000000     58.0          70
5        S006  88.0  85.000000     87.0          95
6        S007  72.0  75.000000     70.0          85
7        S008  95.0  94.000000     96.0          99
8        S009  67.0  65.000000     60.0          78
9        S010  80.0  82.000000     79.0          90
10       S011  74.0  76.000000     72.0          88
11       S012  91.0  89.000000     93.0          97
12       S013  59.0  63.000000     61.0          75
13       S014  83.0  85.000000     84.0          92
14       S015  69.0  68.000000     70.0          82
15       S016  87.0  90.000000     88.0          94
16       S017  76.0  78.000000     74.0          86
17       S018  92.0  95.000000     91.0          98
18       S019  64.0  66.000000     62.0          79
19       S020  81.0  83.000000     80.0          91
20       S021  77.5  72.000000     68.0          84
21       S022  77.0  78.958333     75.0          89
22       S023  85.0  88.000000     76.5          93
23       S024  60.0  58.000000     55.0          72
24       S025  90.0  91.000000     89.0          96
    student_id   math  science  english  attendance
0        False  False    False    False       False
1        False  False    False    False       False
2        False  False    False    False       False
3        False  False    False    False       False
4        False  False    False    False       False
5        False  False    False    False       False
6        False  False    False    False       False
7        False  False    False    False       False
8        False  False    False    False       False
9        False  False    False    False       False
10       False  False    False    False       False
11       False  False    False    False       False
12       False  False    False    False       False
13       False  False    False    False       False
14       False  False    False    False       False
15       False  False    False    False       False
16       False  False    False    False       False
17       False  False    False    False       False
18       False  False    False    False       False
19       False  False    False    False       False
20       False  False    False    False       False
21       False  False    False    False       False
22       False  False    False    False       False
23       False  False    False    False       False
24       False  False    False    False       False