In [ ]:
# Task one 
import pandas as pd 
# loading csv 
students_df = pd.read_csv('student_performance.csv')
# converting csv into DataFrame
student_data = pd.DataFrame(students_df) 
print(student_data)
# getting top 5 elements 
print(student_data.head(5))
# checking datatypes 
print(student_data.info())
# counting  missing values per column 
print(student_data.isna().sum())

In [ ]:
# task two 
# finging  empty cells in columns
mean_math = student_data['math'].mean()
mean_english = student_data['english'].mean()
mean_science = student_data['science'].mean()
# filling emty cells with the mean values
student_data['math'] = student_data['math'].fillna(mean_math)
student_data['english'] = student_data['english'].fillna(mean_english)
student_data['science'] = student_data['science'].fillna(mean_science)
print(student_data)
# checking for empty cells 
print(student_data.isna())

In [43]:
# task 3 adding average row and pass row
# average column
student_data['average'] = student_data['math'] + student_data['english'] + student_data['science'] /3
print(student_data)
# passed column
student_data['passed'] = student_data['average'] >= 60
print(student_data)

   student_id  math    science  english  attendance     average
0        S001  78.0  82.000000     75.0          92  180.333333
1        S002  85.0  88.000000     90.0          96  204.333333
2        S003  62.0  70.000000     65.0          80  150.333333
3        S004  90.0  92.000000     94.0          98  214.666667
4        S005  55.0  60.000000     58.0          70  133.000000
5        S006  88.0  85.000000     87.0          95  203.333333
6        S007  72.0  75.000000     70.0          85  167.000000
7        S008  95.0  94.000000     96.0          99  222.333333
8        S009  67.0  65.000000     60.0          78  148.666667
9        S010  80.0  82.000000     79.0          90  186.333333
10       S011  74.0  76.000000     72.0          88  171.333333
11       S012  91.0  89.000000     93.0          97  213.666667
12       S013  59.0  63.000000     61.0          75  141.000000
13       S014  83.0  85.000000     84.0          92  195.333333
14       S015  69.0  68.000000     70.0          82  161.666667
15       S016  87.0  90.000000     88.0          94  205.000000
16       S017  76.0  78.000000     74.0          86  176.000000
17       S018  92.0  95.000000     91.0          98  214.666667
18       S019  64.0  66.000000     62.0          79  148.000000
19       S020  81.0  83.000000     80.0          91  188.666667
20       S021  77.5  72.000000     68.0          84  169.500000
21       S022  77.0  78.958333     75.0          89  178.319444
22       S023  85.0  88.000000     76.5          93  190.833333
23       S024  60.0  58.000000     55.0          72  134.333333
24       S025  90.0  91.000000     89.0          96  209.333333
   student_id  math    science  english  attendance     average  passed
0        S001  78.0  82.000000     75.0          92  180.333333    True
1        S002  85.0  88.000000     90.0          96  204.333333    True
2        S003  62.0  70.000000     65.0          80  150.333333    True
3        S004  90.0  92.000000     94.0          98  214.666667    True
4        S005  55.0  60.000000     58.0          70  133.000000    True
5        S006  88.0  85.000000     87.0          95  203.333333    True
6        S007  72.0  75.000000     70.0          85  167.000000    True
7        S008  95.0  94.000000     96.0          99  222.333333    True
8        S009  67.0  65.000000     60.0          78  148.666667    True
9        S010  80.0  82.000000     79.0          90  186.333333    True
10       S011  74.0  76.000000     72.0          88  171.333333    True
11       S012  91.0  89.000000     93.0          97  213.666667    True
12       S013  59.0  63.000000     61.0          75  141.000000    True
13       S014  83.0  85.000000     84.0          92  195.333333    True
14       S015  69.0  68.000000     70.0          82  161.666667    True
15       S016  87.0  90.000000     88.0          94  205.000000    True
16       S017  76.0  78.000000     74.0          86  176.000000    True
17       S018  92.0  95.000000     91.0          98  214.666667    True
18       S019  64.0  66.000000     62.0          79  148.000000    True
19       S020  81.0  83.000000     80.0          91  188.666667    True
20       S021  77.5  72.000000     68.0          84  169.500000    True
21       S022  77.0  78.958333     75.0          89  178.319444    True
22       S023  85.0  88.000000     76.5          93  190.833333    True
23       S024  60.0  58.000000     55.0          72  134.333333    True
24       S025  90.0  91.000000     89.0          96  209.333333    True